/* div.fp-tooltip.fp-right {
    text-color: black;
} */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

.fp-tableCell {
    margin: auto;
    width: 100%;
    height: 550px;
}

.slide, .section {
    text-align: center;
}

.section h3 {
    text-align: left;
}

.description p{
    margin-top: -10%;
}


.description {
    width: 32%;
    height: 309px;
    float: left;
    text-align: left;
    margin-left: 3%;
    margin-top: 5px;
}

.visualization {
    width: 60%;
    height: 309px;
    float: right;
    margin-right: 3%;
    margin-left: 2%;
}

#viz1615359317231  {
    margin-top: -7%;
    width: 80%;
}
#viz1614308093834 {
    margin-top: -10%;
    width: 80%;
}

#vegaDemo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div h2 {
    display: inline;
    font-size: 24pt;
    font-weight: 250; 
}


#introtext1 {
    text-align: left;
    padding-left: 10%;
    margin-bottom: 5%;
}

#viz1615270670236 {
    margin-top: -10%;
    width: 80%;
}

#GDPview {
    margin-top: -10%;
    margin-right: 5%;
}

#vegaDemo {
    margin-top: -10%;
    margin-right: 5%;
}

#govtext {
    margin-top: -20%;
}

.conclusion {
    width: 80%;
    height: 309px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}


#viz1615315235171 {
    margin-top: -15%;
}

#viz1615314884885 {
    margin-top: -15%;
}
/* First Page */
header {
    display:inline-block;
}
header h3{
    width: auto;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

happy {
    color: orange;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* Text Page */

/* Text with Visualization Page */
