/* div.fp-tooltip.fp-right {
    text-color: black;
} */

.slide, .section {
    text-align: center;
}

/*.slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
*/

.description {
    width: 35%;
    height: 309px;
    float: left;
}

.visualization {
    width: 65%;
    height: 309px;
    float: right;
}

#vegaDemo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}